<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="static/favicon.ico" />
    <title>CactoBot</title>
</head>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
    <form>
        <div id="chatbox">
            <p class="botText">
                <span>Oi! Me chamo CactoBot e sou o assistente virtual da CactoShop (:<br> Digite "olá" para iniciar a conversa.</span>
            </p>
        </div>
        <div id="userInput" class="row">
            <div class="col-md-10">
                <input id="text" type="text" name="msg" placeholder="Digite uma mensagem..." class="form-control">
                <button type="submit" id="send" class="btn btn-warning">Enviar</button>
            </div>
        </div>
    </form>
</div>
</div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var rawText = $("#text").val();
            var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
            $("#text").val("");
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    msg: rawText,
                },
                type: "POST",
                url: "/get",
            }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + "</span></p>";
                $("#chatbox").append($.parseHTML(botHtml));
                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>
